{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'brcmbs.home'|trans }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ profile.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h1 class="mb-4">{{ profile.name }} <span class="badge text-bg-success">{{ profiles|length }}</span></h1>

{#    <div class="row">#}
{#        <div class="col-md-6">#}
{#            <ul class="list-group list-group-flush">#}
{#                <li class="list-group-item"><b>Name:</b> {{ profile.name }}</li>#}
{#                <li class="list-group-item"><b>Email:</b> {{ profile.email }}</li>#}
{#                <li class="list-group-item"><b>Locale:</b> {{ profile.locale }}</li>#}
{#                <li class="list-group-item"><b>Timezone:</b> {{ profile.timezone }}</li>#}
{#            </ul>#}
{#            <a href="{{ path('app_profile_edit') }}" class="btn btn-outline-primary">{{ 'button.edit'|trans }}</a>#}
{#        </div>#}
{#    </div>#}
    <ul>
        {% for key, property in profile.publicProperties %}
            <li><b>{{ key }}:</b> {{ property }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_profile_edit') }}" class="btn btn-outline-primary">{{ 'button.edit'|trans }}</a>
{% endblock %}
