{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'brcmbs.home'|trans }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ 'profile.invites'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h1 class="mb-4">{{ 'profile.invites'|trans }}</h1>

    <div class="row">
        <div class="col-md-6">

            <a href="{{ path('app_profile_edit') }}" class="btn btn-outline-primary">{{ 'button.edit'|trans }}</a>
        </div>
    </div>

{% endblock %}
