{% extends "/admin/user/default.html.twig" %}

{# from controller #}
{% block page_title_h1 %}show user #{{ user.id }}{{ user.verified }}{% endblock %}

{% block add_breadscrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_user_index') }}">index (list)</a></li>
{% endblock %}

{% block current_breadscrumb_title %}user {{ user.id }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="card border-secondary mb-3"> {# user #}
                <div class="card-header">{{ user.userIdentifier }}</div>
                <div class="card-body">
                    <p>username: {{ user.userIdentifier }}</p>
                    <p>email: {{ user.email }}</p>
                    <p>roles: {{ user.roles|join(', ') }}</p>
                    <p>verified: {{ user.verified }}</p>

                    <div class="mt-2">
                        <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-outline-primary">edit</a>
{#                        <a href="{{ path('admin_user_change_password', {id: user.id}) }}" class="btn btn-outline-secondary">change password</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
