{% extends 'layout.html.twig' %}

{% block main %}
    <h1 class="mb-4">{{ 'title.accept_invite'|trans }}</h1>

    <div class="row">
        <div class="col-md-6">

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="card">
                <div class="card-body">
                    {{ form_row(form.email) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.locale) }}
                    {{ form_row(form.agree) }}
                </div>
            </div>
            <div class="mt-4 mb-4">
                <button type="submit" class="btn btn-lg btn-primary ">{{ 'button.submit'|trans }}</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
