{% extends 'default/calendar.html.twig' %}

{% block hero %}
    <div class="container py-5">

        <h1 class="mb-4">Today, {{ "tomorrow"|date('Y-m-d') }}, {{ time }}</h1>
        <div class="col-md-8">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-lg btn-outline-primary">{{ 'button.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
