{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'brcmbs.home'|trans }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.features'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h1 class="mb-4">{{ 'title.features'|trans }}</h1>

    <div class="row">
        <div class="col-md-9">
            {% if topics is not defined %}
                <h4>No topics defined</h4>
            {% elseif topics|length == 0 %}
                <p><b>Topics list is empty</b></p>
            {% else %}
            <ol class="list-group list-group-numbered">
                {% for item in topics %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ item.title }}</div>
                        {{ item.description }}
                    </div>
{#                    <span class="badge bg-primary rounded-pill">{{ item.answers|length }}</span>#}
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>
{% endblock %}
