{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'brcmbs.home'|trans }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.info'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h1 class="mb-4">{{ 'title.info'|trans }}</h1>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Name:</b> {{ app_name }}</li>
                <li class="list-group-item"><b>Version:</b> {{ app_version }}</li>
                <li class="list-group-item"><b>Environment:</b> {{ app.environment|upper }}</li>
                <li class="list-group-item"><b>Debug:</b> {{ app.debug ? 'Yes' : 'No' }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
