{% extends 'meetup/index.html.twig' %}

{% block main %}

<h1>{{ meetup.title }}</h1>

<div class="card w-75 mb-4">
    <div class="card-body">
        <h5 class="card-title">{{ meetup.title }}</h5>
        <p class="card-text">{{ meetup.plannedAt|date }}</p>
        {% block card_actions %}
            {% if app.user %}
                <form action="{{ url('app_meetups_join', { id: meetup.id }) }}" method="post" data-confirmation="true" id="join-form">
                    <input type="hidden" name="token" value="{{ csrf_token('join') }}" />
                    <button type="submit" class="btn btn-outline-success">
                        Join
                    </button>
                </form>
            {% else %}
                <a href="{{ path('app_meetups_subscribe', { id: meetup.id }) }}" class="btn btn-outline-success">Join</a>
            {% endif %}
        {% endblock %}
    </div>
</div>

<a href="{{ path('app_meetups_index') }}" class="btn btn-outline-primary">Back to list</a>

{% endblock %}
