{% extends 'layout.html.twig' %}

{% block title %}{{ 'text.must_be_replaced'|trans }}{% endblock %}

{% block main %}
    <h1 class="mb-4">{{ 'title.checks'|trans }}</h1>
    {% if items is defined and items|length > 0 %}
        <div class="list-group">
            {% for item in items %}
            <a href="{{ path('check_show', { id: item.id })}}" class="list-group-item list-group-item-action" aria-current="true">
                {{ item.title }}
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p>{{ 'message.no_items'|trans}}</p>
    {% endif %}

{#    {% if button is defined %}#}
{#        <a href="{{ path('check_add') }}" class="btn btn-outline-primary">{{ 'button.add'|trans }}</a>#}
{#    {% endif %}#}

{% endblock %}
