{% extends 'check/index.html.twig' %}

{% block main %}
    <h1 class="mb-4">{{ 'title.topic.remove'|trans }} #{{ item.id }}</h1>

    <p>{{ 'message.removing_agree'|trans }} #{{ item.id }}?</p>
    <form action="{{ url('check_remove', { id: item.id }) }}" method="post" data-confirmation="true" id="delete-form">
        <input type="hidden" name="token" value="{{ csrf_token('remove') }}" />
        <button type="submit" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            {{ 'action.yes'|trans }}
        </button>
        <a href="{{ path('check_show', { id: item.id }) }}" class="btn btn-outline-primary">{{ 'action.no'|trans }}</a>
    </form>
{% endblock %}
