{% extends 'check/index.html.twig' %}

{% block main %}
    <h1 class="mb-4">{{ 'title.topic.show'|trans }} #{{ item.id }}</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            {% if item.options|length > 0 %}
                {% for option in item.options %}
                    <li>{{ option.title }}</li>
                {% endfor %}
            {% endif %}
            <hr>
        </div>
    </div>

{% endblock %}
