{% extends 'check/admin/index.html.twig' %}

{% block title %}{{ 'title.edit_profile'|trans }}{% endblock %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.edit_profile'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_profile_index') }}">{{ 'menu.profiles'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'title.add_check'|trans }}</li>
    </ol>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn-primary btn">{{ 'button.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
