{% if products|length > 0 %}
    <div class="container " id="featured-3">
        <h3 class="pb-2 border-bottom">{{ block.title }}</h3>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% for item in products %}
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                        {{ item.imageTag|raw }}
                    </div>
                    <h3 class="fs-2">{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    <a href="{{ path('app_product_show', { alias : item.id}) }}" class="btn btn-sm btn-outline-dark" title="details instructions">Join course</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
