{% extends 'layout.html.twig' %}

{% block add_stylesheets %}
    <style>
        .icon-square {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            font-size: 1.5rem;
            border-radius: .75rem;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'brcmbs.home'|trans }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.products'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h1 class="mb-4 pb-2">{{ 'title.products'|trans }}</h1>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% if products is not defined %}

        {% elseif products|length == 0 %}

        {% else %}
            {% for item in products %}
            <div class="col d-flex align-items-start">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    {{ item.imageTag|raw }}
                </div>
                <div>
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <a href="{{ path('app_product_show', { alias : item.id }) }}" class="btn btn-outline-secondary">
                        Go learning
                    </a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
