{% extends 'offer/admin/index.html.twig' %}

{% block add_javascript %}

{% endblock %}
{% block title %}{{ 'title.show_'|trans }}{% endblock %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.show_'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">

    </ol>
{% endblock %}

{% block filters %}
{% endblock %}

{% block paginator %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div>{{ item.title }}</div>
                </div>
            </div>
            {% if  not item.startedAt %}
                <div class="mt-4">
                    <a href="#" class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i> {{ 'button.change'|trans }}</a>
                </div>
            {% endif %}
            <div class="mt-4">
                {% if  not item.startedAt %}
                    <a href="#" class="btn btn-outline-success">{{ 'button.run'|trans }}</a>
                {% elseif not item.closedAt %}
                    <a href="#" class="btn btn-outline-warning">{{ 'button.close'|trans }}</a>
                {% endif %}

                <a href="{{ path('admin_offer_edit', {'id': item.id }) }}" class="btn btn-sm btn-outline-primary">{{ 'button.edit'|trans }}</a>
                <a href="{{ path('admin_offer_remove', {'id': item.id }) }}" class="btn btn-sm btn-outline-danger">{{ 'button.remove'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
