{% extends 'admin.html.twig' %}

{% block title %}{{ 'title.orders'|trans }}{% endblock %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.orders'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'menu.orders'|trans }}</li>
    </ol>
{% endblock %}

{% block main %}
    {% if items is defined and items|length > 0 %}
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                <th scope="col">{{ 'actions'| trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.currency }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <a href="{{ path('admin_order_show', {'id': item.id }) }}" class="btn btn-outline-secondary">{{ 'button.show'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if button is defined %}
        <a href="{{ path('admin_order_add') }}" class="btn btn-outline-primary">{{ 'button.add'|trans }}</a>
    {% endif %}

{% endblock %}
