{% extends 'offer/admin/index.html.twig' %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.remove'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}

{% endblock %}

{% block main %}
    <p>{{ 'messages.removing_agree'|trans }} #{{ item.id }}?</p>
    <form action="{{ path('admin_card_remove', {id: item.id}) }}" method="post" data-confirmation="true" id="delete-form">
        <input type="hidden" name="token" value="{{ csrf_token('remove') }}" />
        <button type="submit" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            {{ 'action.yes'|trans }}
        </button>
        <a href="{{ path('admin_card_show', {id: item.id}) }}" class="btn btn-outline-primary">{{ 'action.no'|trans }}</a>
    </form>
{% endblock %}
