{% extends 'offer/admin/index.html.twig' %}

{% block title %}{{ item.title }} {{ item.code }}{% endblock %}

{% block page_title %}
    <h1 class="mt-4">{{ item.title }} {{ item.code }}</h1>
{%endblock%}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <p>{{ item.title }}</p>
                    <p>{{ item.code }}</p>
                    <p>{{ item.price}}</p>
                    <p>{{ item.quantity }}</p>
                    <p>{{ item.available }}</p>
                </div>
            </div>
            <div class="mt-4">
                <a href="{{ path('admin_card_edit', {id: item.id}) }}" class="btn btn-outline-secondary">{{ 'button.edit'|trans }}</a>
                <a href="{{ path('admin_card_remove', {id: item.id}) }}" class="btn btn-outline-danger">{{ 'button.remove'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
