{% extends 'topic/admin/edit.html.twig' %}

{% block title %}{{ 'title.add_topic'|trans }}{% endblock %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.add_topic'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_topic_index') }}">{{ 'menu.topics'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'title.add_topic'|trans }}</li>
    </ol>
{% endblock %}
