{% extends 'topic/admin/index.html.twig' %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.change_agree'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}
{% endblock %}

{% block filters %}
{% endblock %}

{% block paginator %}
{% endblock %}

{% block main %}
    <p>{{ 'message.change_agree'|trans }} #{{ item.id }}?</p>
    <form action="{{ url('admin_topic_change', { id: item.id }) }}" method="post" data-confirmation="true" id="change-form">
        <input type="hidden" name="token" value="{{ csrf_token('change') }}" />
        <button type="submit" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            {{ 'action.yes'|trans }}
        </button>
        <a href="{{ path('admin_topic_show', { id: item.id }) }}" class="btn btn-outline-primary">{{ 'action.yes'|trans }}</a>
    </form>
{% endblock %}
