{% extends 'topic/admin/index.html.twig' %}

{% block add_javascript %}

{% endblock %}
{% block title %}{{ 'title.show_topic'|trans }}{% endblock %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.show_topic'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_topic_index') }}">{{ 'menu.topics'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'title.show_topic'|trans }}</li>
    </ol>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4">{{ item.title }}</h3>
                    <div class="mb-4">{{ item.description|nl2br|raw }}</div>
                </div>
            </div>

            {# TODO: choose block for the buttons #}
            {% if  not item.startedAt %}
            <div class="mt-4">
                <a href="{{ path('admin_topic_change', {id: item.id}) }}" class="btn btn-outline-primary"><i class="bi bi-hand-thumbs-up"></i> {{ 'button.change'|trans }}</a>
            </div>
            {% endif %}
            <div class="mt-4">
                {% if  not item.startedAt %}
                    <a href="{{ path('admin_topic_run', {id: item.id}) }}" class="btn btn-outline-success">{{ 'button.run'|trans }}</a>
                {% elseif not item.closedAt %}
                    <a href="{{ path('admin_topic_close', {id: item.id}) }}" class="btn btn-outline-warning">{{ 'button.close'|trans }}</a>
                {% endif %}

                <a href="{{ path('admin_topic_edit', {id: item.id}) }}" class="btn btn-outline-secondary">{{ 'button.edit'|trans }}</a>
                <a href="{{ path('admin_topic_remove', {id: item.id}) }}" class="btn btn-outline-danger">{{ 'button.remove'|trans }}</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="mb-4"><b>Created:</b> {{ item.createdAt|date }}</div>
                    <div class="mb-4"><b>Type:</b> {{ item.type }}</div>
                    <div class="mb-4"><b>Priority:</b> {{ item.priority }}</div>
                    <div class="mb-4"><div class="badge text-bg-primary">{{ item.branch }}</div></div>
                    <div class="mb-4">
                        {% if item.startedAt %}
                            <b>Started:</b> {{ item.startedAt|date }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {% if item.closedAt %}
                            {{ item.closedAt|date }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
