<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicons/favicon.svg') }}">
    <link rel="alternate icon" type="image/png" sizes="16x16" href="{{ asset('favicons/favicon16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-touch-icon.png') }}" />
    <title>{{ app_name }}{{ app_version }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock stylesheets %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock javascripts %}


</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ path('admin') }}">admin {{ app_name }}</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
{#            <input class="form-control" type="text" placeholder="{{ 'search.placeholder'|trans }}" aria-label="{{ 'search.aria_label'|trans }}" aria-describedby="btnNavbarSearch" />#}
{#            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="bi bi-search"></i></button>#}
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>{{ app.user.username }}</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
{#                <li><a class="dropdown-item" href="{{ path('settings') }}">{{ 'navbar.settings'|trans }}</a></li>#}
                <li><a class="dropdown-item" href="{{ path('admin_inbox') }}">{{ 'navbar.activity'|trans  }}</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{{ path('logout')}}">{{ 'navbar.logout'|trans  }}</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav nav-pills d-flex flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo == '/admin' %}active{% endif %}" aria-current="page" href="{{ path('admin')}}">
                            <i class="bi bi-speedometer"></i>
                            {{ 'menu.dashboard'|trans }}
                            {% if incoming_unread_count is defined %}
                                <span class="badge bg-secondary">+{{ incoming_unread_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/order' %}active{% endif %}" href="{{ path('admin_order_index')}}">
                            <i class="bi bi-egg-fried"></i>
                            {{ 'menu.orders'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/card' %}active{% endif %}" href="{{ path('admin_card_index')}}">
                            <i class="bi bi-card-heading"></i>
                            {{ 'menu.cards'|trans }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/product' %}active{% endif %}" href="{{ path('admin_product_index')}}">
                            <i class="bi bi-box"></i>
                            {{ 'menu.products'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/check' %}active{% endif %}" href="{{ path('admin_check_index')}}">
                            <i class="bi bi-clipboard-check"></i>
                            {{ 'menu.checks'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/profile' %}active{% endif %}" href="{{ path('admin_profile_index')}}">
                            <i class="bi bi-people-fill"></i>
                            {{ 'menu.profiles'|trans }}
                            {% if app.flashes('profile')|length %}<span class="badge bg-secondary">+{{ app.flashes('profile')|length }}</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/topic' %}active{% endif %}" href="{{ path('admin_topic_index')}}">
                            <i class="bi bi-list-task"></i>
                            {{ 'menu.topics'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/project' %}active{% endif %}" href="{{ path('admin_project_index')}}">
                            <i class="bi bi-kanban-fill"></i>
                            {{ 'menu.projects'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/invite' %}active{% endif %}" href="{{ path('admin_invite_index')}}">
                            <i class="bi bi-node-plus-fill"></i>
                            {{ 'menu.invites'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.pathInfo starts with '/admin/offer' %}active{% endif %}" href="{{ path('admin_offer_index')}}">
                            <i class="bi bi-clipboard2"></i>
                            {{ 'menu.offer'|trans }}
                        </a>
                    </li>

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ path('admin')}}">#}
{#                            <i class="bi bi-gear"></i>#}
{#                            {{ 'menu.settings'|trans }}#}
{#                        </a>#}
{#                    </li>#}
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-4">

            {% block page_title %}
                <h1 class="mt-4">{{ app_version }}</h1>
            {%endblock%}

            {% block breadcrumb %}
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{{ path('admin') }}">index</a></li>
                    <li class="breadcrumb-item active">{{ app_name }}{{ app_version }}</li>
                </ol>
            {% endblock %}

            {% block action_panel %}
            {% endblock %}

            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'button.close'|trans }}"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block filters %}
            {% endblock %}

            {% block main %}
                <div class="row">
                    <div class="col-md-2">
                        <div class="card text-bg-primary border-primary mb-3">
                            <div class="card-header">{{ 'card.orders'|trans }}</div>
                            <div class="card-body">
                                <h1 class="display-6"><i class="bi bi-egg-fried"></i></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card text-bg-danger mb-3">
                            <div class="card-header">Exceptions</div>
                            <div class="card-body">
                                123
                            </div>
                        </div>
                    </div>

                </div>
            {% endblock %}

            {% block paginator %}
            {% endblock %}

        </main>

    </div>
</div>

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">{{ app_version }}</div>
            <div>
                <a href="#">{{ 'link.privacy' }}</a>
                &middot;
                <a href="#">{{ 'link.terms_conditions' }}</a>
            </div>
        </div>
    </div>
</footer>
{% block add_javascript %}{%endblock%}
</body>
</html>
