{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block body %}

    {% if app_navbar == 'true' %}  {# TODO: set boolean value #}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container"> {# container-fluid #}
            <a class="navbar-brand" href="#"><i class="bi bi-triangle"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">{{ 'menu.index'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('topic_index') }}">{{ 'menu.products'|trans }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'menu.info'|trans }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">{{ 'menu.profile'|trans }}</a></li>
                            <li><a class="dropdown-item" href="#">{{ 'menu.configuration'|trans }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_info') }}">{{ 'menu.settings'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">{{ 'menu.admin'|trans }}</a>
                    </li>
                </ul>
{#                <form class="d-flex">#}
{#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="{{ 'menu.search'|trans }}">#}
{#                    <button class="btn btn-outline-success" type="submit">{{ 'menu.ok'|trans }}</button>#}
{#                </form>#}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="btn btn-sm btn-link" href="{{ path('logout') }}">Logout</a>
                {% else %}
                    <a class="btn btn-sm btn-link" href="{{ path('login') }}">Login</a>
                {% endif %}
{#                <a class="btn btn-sm btn-outline-secondary ms-lg-2" href="{{ path('app_subscribe') }}"><i class="bi bi-person"></i></a>#}

            </div>
        </div>
    </nav>
    {% endif %}

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{{ path('app_index') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-apple me-3" viewBox="0 0 16 16">
                    <title>{{ app_name }}</title>#}
                    <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z"/>
                    <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282z"/>
                </svg>

{#                <svg xmlns="http://www.w3.org/2000/svg"  width="40" height="32" fill="currentColor" class="bi bi-activity me-2" viewBox="0 0 16 16">#}
{#                    <title>{{ app_name }}</title>#}
{#                    <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>#}
{#                </svg>#}
                <span class="fs-4">{{ app_name }}</span>
            </a>

            <ul class="nav">
                <li class="nav-item"><a href="{{ path('app_index') }}" class="nav-link {% if app.request.get('_route') == 'app_index' %}active{% endif %}" aria-current="page">{{ 'menu.index'|trans }}</a></li>
                <li class="nav-item"><a href="{{ path('app_subscribe') }}" class="nav-link {% if app.request.get('_route') == 'app_subscribe' %}active{% endif %}">{{ 'menu.products'|trans }}</a></li>
            </ul>
        </header>
    </div>

    <div class="container">
        <main>

            {% block breadcrumbs %}
            {% endblock %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-secondary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% block add_flashes %}
            {% endblock %}

            {% block main %}
            {% endblock %}
        </main>
    </div>

    <div class="container">
        <footer class="pt-3 my-5 text-muted border-top">
            <small>{{ 'message.created'|trans }} {{ app_name }} {{ app_version }} &middot; &copy;</small>
        </footer>
    </div>


{% endblock %}
