{% extends 'layout.html.twig' %}

{% block title %}{{ 'text.must_be_replaced'|trans }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'brcmbs.home'|trans }}</a></li>
            <li class="breadcrumb-item active"  aria-current="page">{{ 'brcmbs.topics'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
        <h1 class="mb-4">{{ 'title.index'|trans }}</h1>

        <div class="row">
            <div class="col-md-6">
                <ul>
                    {% for topic in topics %}
                        <li><a href="{{ path('topic_show', { id: topic.id}) }}">{{ topic.title }}</a></li>
                    {% endfor %}
                </ul>

                {% if button is defined %}
                    <a href="{{ path(button.route) }}" class="{{ button.classes }}">{{ button.caption|trans }}</a>
                {% endif %}

            </div>
        </div>

{% endblock %}
