{% extends 'project/admin/edit.html.twig' %}

{% block title %}{{ 'title.add_project'|trans }}{% endblock %}

{% block page_title %}
    <h1 class="mt-4">{{ 'title.add_project'|trans }}</h1>
{%endblock%}

{% block breadcrumb %}
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'menu.dashboard'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_project_index') }}">{{ 'menu.projects'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'title.add_project'|trans }}</li>
    </ol>
{% endblock %}
