{% extends 'layout.html.twig' %}

{% block title %}Protect your account{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Protect your account</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn btn-outline-primary">Apply password</button>
    {{ form_end(registrationForm) }}
{% endblock %}
