{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_index') }}">{{ 'brcmbs.home'|trans }}</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ 'title.subscribe'|trans }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<h1 class="mb-4">{{ 'title.subscribe'|trans }}</h1>

<div class="row">
    <div class="col-md-6">
{#        <p class="fs-5 col-md-8 mb-5">#}
{#            {{ 'message.subscribe'|trans }}#}
{#        </p>#}
        {% block form %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
    </div>
</div>
{% endblock %}
