{% extends 'layout.html.twig' %}

{% block add_stylesheets %}
    <style>
        .icon-square {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            font-size: 1.5rem;
            border-radius: .75rem;
        }
    </style>
{% endblock %}
{% block simple_navbar %}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{{ path('app_index') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                {#                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>#}
                <img src="{{ asset('favicons/favicon.svg') }}" width="40" height="32" alt="">
                {#                <span class="fs-4">Simple header</span>#}
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path('app_index') }}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ path('app_project') }}" class="nav-link active" aria-current="page">Projects</a></li>
                <li class="nav-item"><a href="{{ path('app_info') }}" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>
{% endblock %}

{% block main %}
    <h1 class="mb-4 pb-2">{{ 'title.projects'|trans }}</h1>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="bi bi-check-square"></i>
            </div>
            <div>
                <h2>Checks</h2>
                <p>Check your knowledge on simple tests forms. You can set own test cases</p>
                <a href="{{ path('check_index') }}" class="btn btn-primary">
                    Check yourself
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="bi bi-box-seam"></i>
            </div>
            <div>
                <h2>Inventory</h2>
                <p>Build storage of products and inventory rules. You can build a simple marketplace system os simple CRM</p>
                <a href="#" class="btn btn-primary">
                    Look on storage
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="bi bi-people-fill"></i>
            </div>
            <div>
                <h2>Community</h2>
                <p>Topics, entries of topics and comments to the topics. You can communicate with users and rate each part of content. </p>
                <a href="{{ path('app_profile_invites') }}" class="btn btn-primary">
                    See topics
                </a>
            </div>
        </div>

{% endblock %}
