{% extends 'email/confirm.html.twig' %}

{% block styles %}

{% endblock %}

{% block content %}
    <h1>Welcome, {{ email.toName }}!</h1>
    <p>You have received this email for meetup subscribe:</p>
    <p><b>{{ meetup.title }}</b></p>
    <p>Date: {{ meetup.plannedAt|date('F jS') }}</p>
    <br>

    <p>Click link <a href="?token={{ token }}">?token={{ token }}</a> to activate your account</p>
    <p>(this link is valid until {{ expiration_date|date('F jS') }})</p>
{% endblock %}

