
<style>
    {# here, define your CSS styles as usual #}
    h1 {
        color: blue;
    }
</style>

<h1>Welcome {{ email.toName }}!</h1>

<p>
    {{ message }}
</p>
<p>email: <code>{{ email.to[0].address }}</code></p>


<p>Click link <a href="{{ url('subscribe_verify', {token:subscribe_token}) }}">{{ url('subscribe_verify') }}</a> to activate your account</p>
<p>(this link is valid until {{ expiration_date|date('F jS') }})</p>
